body{
    background-image: url("../assets/background.jpg");
    background-size: cover;
    color: black;
    background-color: black;
    background-attachment: fixed;
}
#main{
    margin: 8px;
    border-radius: 10px;
    position: absolute;
    height: auto;
    width: 72vw;
    left: 26vw;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 5;
}

#main h3 {
    text-align: center;
}
