#anim{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    opacity: 1;
    z-index: 9999;
}

.animcontents{
    opacity: inherit;
    color: black;
    position: absolute;
}
